n8n-workflows/calendar-booked.json
{
  "name": "Calendar Booked - Confirmations and Reminders",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calendar-booked",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{$env.APP_URL}}/api/messages/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workspaceId",
              "value": "={{$json.workspaceId}}"
            },
            {
              "name": "leadId",
              "value": "={{$json.leadId}}"
            },
            {
              "name": "channel",
              "value": "email"
            },
            {
              "name": "subject",
              "value": "Booking Confirmed"
            },
            {
              "name": "message",
              "value": "Your session has been confirmed!"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Email Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 250]
    },
    {
      "parameters": {
        "url": "={{$env.APP_URL}}/api/messages/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workspaceId",
              "value": "={{$json.workspaceId}}"
            },
            {
              "name": "leadId",
              "value": "={{$json.leadId}}"
            },
            {
              "name": "channel",
              "value": "whatsapp"
            },
            {
              "name": "message",
              "value": "Your session is confirmed! See you soon."
            }
          ]
        },
        "options": {}
      },
      "name": "Send WhatsApp Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 350]
    },
    {
      "parameters": {
        "url": "={{$env.APP_URL}}/api/followups",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workspaceId",
              "value": "={{$json.workspaceId}}"
            },
            {
              "name": "leadId",
              "value": "={{$json.leadId}}"
            },
            {
              "name": "channel",
              "value": "whatsapp"
            },
            {
              "name": "delayHours",
              "value": 23
            },
            {
              "name": "message",
              "value": "Reminder: Your session is tomorrow!"
            }
          ]
        },
        "options": {}
      },
      "name": "Schedule 24h Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 250]
    },
    {
      "parameters": {
        "url": "={{$env.APP_URL}}/api/followups",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workspaceId",
              "value": "={{$json.workspaceId}}"
            },
            {
              "name": "leadId",
              "value": "={{$json.leadId}}"
            },
            {
              "name": "channel",
              "value": "whatsapp"
            },
            {
              "name": "delayHours",
              "value": 1
            },
            {
              "name": "message",
              "value": "Reminder: Your session starts in 1 hour!"
            }
          ]
        },
        "options": {}
      },
      "name": "Schedule 1h Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 350]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Booking processed\" } }}"
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Email Confirmation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send WhatsApp Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Confirmation": {
      "main": [
        [
          {
            "node": "Schedule 24h Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Confirmation": {
      "main": [
        [
          {
            "node": "Schedule 1h Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule 24h Reminder": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule 1h Reminder": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
