n8n-workflows/call-missed.json
{
  "name": "Call Missed - AI Summary and Follow-up",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "call-missed",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{$env.APP_URL}}/api/calls/process-missed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workspaceId",
              "value": "={{$json.workspaceId}}"
            },
            {
              "name": "from",
              "value": "={{$json.from}}"
            },
            {
              "name": "callSid",
              "value": "={{$json.callSid}}"
            },
            {
              "name": "recordingUrl",
              "value": "={{$json.recordingUrl}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Process Missed Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{$env.APP_URL}}/api/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workspaceId",
              "value": "={{$json.workspaceId}}"
            },
            {
              "name": "leadId",
              "value": "={{$json.leadId}}"
            },
            {
              "name": "title",
              "value": "Callback: Missed Call"
            },
            {
              "name": "priority",
              "value": "high"
            }
          ]
        },
        "options": {}
      },
      "name": "Create Callback Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Missed call processed\" } }}"
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Missed Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Missed Call": {
      "main": [
        [
          {
            "node": "Create Callback Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Callback Task": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
