n8n-workflows/lead-new.json
{
  "name": "Lead New - Classification and Follow-up",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-new",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{$env.APP_URL}}/api/ai/classify-lead",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workspaceId",
              "value": "={{$json.workspaceId}}"
            },
            {
              "name": "leadId",
              "value": "={{$json.leadId}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Classify Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{$env.APP_URL}}/api/messages/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workspaceId",
              "value": "={{$json.workspaceId}}"
            },
            {
              "name": "leadId",
              "value": "={{$json.leadId}}"
            },
            {
              "name": "channel",
              "value": "whatsapp"
            },
            {
              "name": "message",
              "value": "Welcome! Thanks for your interest. How can we help you today?"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Welcome Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{$env.APP_URL}}/api/followups",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workspaceId",
              "value": "={{$json.workspaceId}}"
            },
            {
              "name": "leadId",
              "value": "={{$json.leadId}}"
            },
            {
              "name": "channel",
              "value": "whatsapp"
            },
            {
              "name": "delayHours",
              "value": 24
            }
          ]
        },
        "options": {}
      },
      "name": "Schedule Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Lead processed successfully\" } }}"
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Classify Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Lead": {
      "main": [
        [
          {
            "node": "Send Welcome Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Message": {
      "main": [
        [
          {
            "node": "Schedule Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Follow-up": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
